<!DOCTYPE html>
<html>
<head>
  <title>How many people are in space right now?</title>
  <style type="text/css" media="screen">
    
    #main {
      background-image: url(/images/background.png);
    }
    
    #count {
      position:absolute;
      top:20px;
      left:20px;
      font-family:'Octin College';
      font-size:40px;
      color:white;
    }
    
    #message {
      color:white;
      font-family:courier;
      font-size
    }
  </style>
</head>
<body>
	<body>
	  <div id="container">
	    <div id="main">
			  <span id='count'><%= @count %></span>
	    </div>
	    <div id='message'>
	      <%= @message %>
	    </div>
	    <img src='/images/border-bottom.png'>
	  </div>
	</body>
</html>