
  <!DOCTYPE html>
  <html>
  <head>
    <title>How many people are in space right now?</title>
    <style type="text/css" media="screen">
      body {
        margin:0px;
        font-family:courier;
        font-size:20px;
      }
      
      #main {
        background-image: url(/images/background.png);
        width:384px;
        height:266px;
      }

      #count {
        width:142px;
        height:98px;
        position:relative;
        top:101px;
        left:20px;
        font-family:'Octin College';
        font-size:78px;
        color:white;
        text-align:center;
        padding-top:12px;
        font-weight:bold;
      }

      #message {
        color:white;
        font-family:courier;
        background:black;
        font-weight:bold;
        padding:0px 0px 0px 20px;
        margin:0px;
        
      }
      
      p {
          margin:0px;
      }
      
      img {
        display:block;
      }
    </style>
  </head>
  <body>
  	<body>
  	  <div id="container">
  	    <h2>Welcome!</h1>
        <p class="welcome">This is your first delivery from "how many people are in space right now?" This publication will arrive every time the number of people in space changes.</p>
  	    <div id="main">
  			  <div id='count'><%= @count %></div>
  	    </div>
  	    <div id='message'>
  	      <%= @message %>
  	    </div>
  	    <img src='/images/border-bottom.png'>
  	  </div>
  	</body>
  </html>